*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    height: 100vh;
    overflow: hidden;  
    text-align: center;
    background: radial-gradient(circle at top, #1f1c2c, #928dab);
    min-height: 100vh;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    transition: background-color 0.2s;
}

h1{
    font-size: 3rem;
    margin: 0.5rem 0 0.3rem;  
}

h2{
    margin: 0.3rem 0 0.8rem;   
    font-weight: 400;
    line-height: 1.3;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    flex-grow: 1;   
}

.line-one, .line-two{
    display: flex;
}

.btn{
    height: 160px;
    width: 160px;
    margin: 0.8rem;
   
    border-radius: 25%;
    border: 8px solid rgba(255,255,255,0.5);
    cursor: pointer;
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    transition: transform 0.15s, box-shadow 0.15s;
}#start-btn{
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    
    margin: 0.3rem 0 0.5rem; 
}

#start-btn:hover{
    background-color: black;
}


.btn:hover{
    transform: scale(1.05);
}

.btn:active{
    transform: scale(0.95);
}

.red{ background: #ff4d6d; }
.yellow{ background: #ffd166; }
.purple{ background: #9d4edd; }
.green{ background: #4cc9a6; }

.gameflash{
    background-color: white !important;
    box-shadow: 0 0 30px white;
}

.userflash{
    filter: brightness(140%);
    box-shadow: 0 0 30px #fff;
}